* {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    to bottom,
    rgba(236, 240, 255, 0.95) 0%,
    rgba(255, 255, 255, 0.85) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: "Futura";
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  background: #ffff;
}

.page1 {
  min-height: 45vh;
  min-width: 100vw;
}

.nav-item {
  float: right;
}

.page1 h1 {
  font-size: 7vmax;
  font-weight: 500;
  font-family: Country market;
  margin-top: 3.5vw;
  margin-left: 25vw;
}

.page1 h2 {
  font-size: 6.5vmax;
  font-weight: 500;
  font-family: Country market;
  margin-left: 40vw;
}

.page1 video {
  border-radius: 5%;
  width: 32vmax;
  margin-top: 5vw;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.page2 {
  min-height: 65vmax;
  min-width: 100vw;
}

.intro-cards {
  background: #ffff;
  margin-top: 20vh;
  padding: 2rem;
}

.card {
  display: flexbox;
  flex-direction: row;
  margin-top: auto;
  justify-items: center;
  align-items: flex-start;
}

#card1,
#card2 {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  padding: 1rem;
  width: 50%;
}

.profile-pic {
  margin-top: 10px;
  background: #ffff;
  width: 75vmin;
  height: auto;
  display: flex;
  justify-content: center;
  /* margin-bottom: 0.5rem; */
}

#card1 p,
#card2 p {
  background: #ffff;
  text-decoration: none;
  font-size: 2.6vmin;
  margin-top: auto;
  margin-bottom: 0.5em;
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: justify;
  font-family: sans-serif;
  font-weight: 550;
  color: black;
  padding: 1rem;
  letter-spacing: 1px;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.socials1,
.socials2 {
  position: relative;
  cursor: pointer;
  margin: 10px;
}

.social-icons {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 2;
  width: 100%;
  display: none;
  background: linear-gradient(to right, #22333b, #eae0d5);
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.socials1:hover .social-icons,
.socials2:hover .social-icons {
  display: flex;
}

.social-icon {
  margin-right: 0px;
  padding: 7px;
}

.social-media {
  letter-spacing: 12px;
}

/* @media screen and (min-width: 480px) {
  .page2{
    height: auto;
    width: auto;
  }

} */
